.title{
background-color: gray;
font-size: 2em;
margin: 0;
text-align: center;
}

.main-list{
  color: white;
  list-style-type: none;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.main-list li{
  background-color: green;
  width:fit-content;
  font-size: 25px;
  margin: 1px auto;
  box-sizing: border-box;
  
}

